
.dlp-video-card {
    @apply relative;
    cursor: pointer;
    .dlp-video-card--overlay {
        @apply absolute;
        @apply z-10;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply w-full;
        @apply h-full;
        opacity: 0.75;

        &.dark svg {
            fill: theme('colors.black');
        }
        
        &.light svg {
            fill: theme('colors.white');
        }
    }
}

/* Hanna: adding my classes here */ 

/* Video Thumbnail */
.video-thumbnail {
  @apply self-center;        /* align-self: center; */
  @apply text-white;         /* color: theme('colors.white'); */
  @apply justify-self-center;  /* justify-self: center; */
  @apply opacity-75;         /* opacity: 0.75; */
  &:focus, &:hover {
    @apply opacity-100;      /* opacity: 1; */
  }
}
.icon-play {
  @apply w-16;               /* width: 64px; */
  @media (min-width: theme('screens.lg')) {
    @apply w-32;             /* width: 128px; */
  }
}