
.dlp-video-card {
  @apply relative;
  cursor: pointer;

  &:focus, &:hover {
    .dlp-video-card--overlay {
      opacity: 1;
    }
  }

  .dlp-video-card--overlay {
    @apply absolute;
    @apply top-0;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    opacity: 0.75;
    transition: opacity 0.3s;
  }
}

.icon-play {
  @apply w-12;               /* width: 48px; */
  @media (min-width: theme('screens.lg')) {
    @apply w-32;             /* width: 128px; */
  }
  @apply text-white;         /* color: theme('colors.white'); */
}