/* Video Thumbnail */
.dlp-video-card {
  @apply relative;           /* position: relative; */
  cursor: pointer;
  &:focus, &:hover {
    .dlp-video-card__overlay {
      @apply opacity-100;    /* opacity: 1; */
    }
  }
  .dlp-video-card__overlay {
    @apply absolute;         /* position: absolute; */
    @apply top-0;            /* top: 0; */
    @apply flex;             /* display: flex; */
    @apply items-center;     /* align-items: center; */
    @apply justify-center;   /* justify-content: center; */
    @apply w-full;           /* width: 100%; */
    @apply h-full;           /* height: 100%; */
    @apply opacity-75;       /* opacity: 0.75; */
    transition: opacity 0.3s;
  }
}
.icon-play {
  @apply w-12;               /* width: 48px; */
  @media (min-width: theme('screens.lg')) {
    @apply w-32;             /* width: 128px; */
  }
  @apply text-white;         /* color: theme('colors.white'); */
}