
.dlp-display-card {
    @apply h-full;
    @apply flex;
    @apply flex-col;
    .dlp-display-card-content {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        width: 496px;
        height: 332px;
        max-width: 100%;
        border: 1px solid theme('colors.primary.200');
    }

    figcaption {
        @apply text-center;
    }
}
