
.dlp-display-card {
    @apply h-full;
    @apply flex;
    @apply flex-col;
    .dlp-display-card-content {
        @apply p-3;
        @apply flex-grow;
        min-height: 308px;
        background-color: $light-gray;
    }
    .dlp-display-card-border {
        @apply h-full;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        border: 1px solid $medium-gray;

    }

    .dlp-display-card-cta {
        @apply pt-8;
        text-align: center;
    }

    img {
        @apply w-auto;
        @apply h-auto;
    }
}