
.sc-hero-image {
    @apply relative;
    color: $white;
    display: inline-block;
    outline: 1px solid $white;
    //Build order requires this be hard coded
    outline-offset: -10px;
    width: 100%;
    &.dark-text {
        color: $dark-gray;
    }

    img {
        width: 100%;
    }

    .sc-hero-caption {
        @apply absolute;
        @apply bottom-0;
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: theme('spacing.8');
        &:after {
            height: 2px;
            display: block;
            width: theme('spacing.8');
            background: $red;
            content: '';
            margin: 8px auto;
        }
    }
}