
.dlp-figure {
    @apply relative;

    &.dark-text .dlp-figure-caption {
        color: theme('colors.primary.900');
    }

    &.sticky {
        @apply sticky;
        top: theme('spacing.8')
    }

    &.hide-border {
        img,
        picture {
            outline: none;
        }
    }

    img,
    picture {
        outline: 1px solid theme('colors.white');
        //Build order requires this be hard coded
        outline-offset: -14px;
        width: 100%;
    }

    &.ar {
        img,
        picture {
            @apply absolute;
            @apply top-0;
            @apply left-0;
            @apply w-full;
            @apply h-full;
            object-position: 50% 0;
        }
    }

    .dlp-figure-caption {
        @apply absolute;
        @apply bottom-0;
        color: theme('colors.white');
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: theme('spacing.8');
        &:after {
            height: 2px;
            display: block;
            width: theme('spacing.8');
            background: theme('colors.secondary.500');
            content: '';
            margin: 8px auto;
        }
    }
}