
.dlp-figure {
    @apply relative;
    
    display: inline-block;
    outline: 1px solid $white;
    //Build order requires this be hard coded
    outline-offset: -10px;
    width: 100%;
    &.dark-text .dlp-figure-caption {
        color: $dark-gray;
    }

    &.sticky {
        @apply sticky;
        top: theme('spacing.8')
    }

    &.hide-border {
        outline: none;
    }

    img {
        width: 100%;
    }

    .dlp-figure-caption {
        @apply absolute;
        @apply bottom-0;
        color: $white;
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: theme('spacing.8');
        &:after {
            height: 2px;
            display: block;
            width: theme('spacing.8');
            background: $red;
            content: '';
            margin: 8px auto;
        }
    }
}