
.dlp-figure-wrapper {
    @apply relative;
    overflow: hidden;
    .dlp-figure {
        @apply relative;
    }

    &.dark-text .dlp-figure-caption {
        color: theme('colors.primary.900');
    }

    &.pinned {
        @apply sticky;
        top: theme('spacing.8')
    } 

    .dlp-figure-border {
        @apply absolute;
        @apply w-full;
        @apply h-full;
        z-index: 80;
        outline: 1px solid #FFFFFF;
        outline-offset: -14px;
    }

    img,
    picture {
        width: 100%;
    }

    .dlp-figure-caption {
        @apply absolute;
        @apply bottom-0;
        color: theme('colors.white');
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: theme('spacing.4');
        &:after {
            height: 2px;
            display: block;
            width: theme('spacing.8');
            background: theme('colors.secondary.500');
            content: '';
            margin: 18px auto;
        }
    }
}