
.dlp-figure-wrapper {
    @apply relative;
    overflow: hidden;
    .dlp-figure {
        @apply relative;
    }

    &.dark-text .dlp-figure-caption {
        color: theme('colors.primary.900');
    }

    &.pinned {
        @apply sticky;
        top: theme('spacing.8')
    } 

    .dlp-figure-border {
        @apply absolute;
        @apply w-full;
        @apply h-full;
        z-index: 80;
        outline: 1px solid #FFFFFF;
        outline-offset: -8px;
        @media (min-width: theme('screens.md')) {
            outline-offset: -12px;
        }
    }

    img,
    picture {
        width: 100%;
    }

    .dlp-figure-caption {
        @apply absolute;
        @apply bottom-0;
        color: theme('colors.white');
        display: none;
        width: 100%;
        text-align: center;
        padding-bottom: theme('spacing.8');
        
        
        @media (min-width: theme('screens.md')) {
            display: block;
        }
    }
}