
.sc-btn {
    @apply text-white;
    @apply mb-4;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $dark-gray;

    &:hover,
    &:active {
        border-color: $medium-gray;
    }

    @media (min-width: theme('screens.sm')){
        @apply flex;
    }

    .sc-btn-inner {
        display: block;
        background: $dark-gray;
        margin: 4px;
        padding: 12px 24px;

        &:hover,
        &:active {
            background: $medium-gray;
        }

        @media (min-width: theme('screens.sm')){
            
        }
    }

    
}

.sc-btn-group {
    @apply flex;
    @apply flex-col;
    
    @media (min-width: theme('screens.sm')){
        @apply flex-row;

        .sc-btn {
            margin-right: theme('spacing.8');
            &:last-child {
                margin-right: theme('spacing.0');
            }
        }
    }
}