
.btn {
    @apply mb-4;
    color: theme('colors.white');
    display: inline-block;
    font-size: theme('fontSize.sm');
    text-transform: uppercase;
    text-align: center;
    border: 1px solid theme('colors.primary.900');
    letter-spacing: 0.1em;
    font-weight: 500;
    

    &:link,
    &:visited {
        color: theme('colors.white');
        text-decoration: none;
    }

    &:hover,
    &:active {
        border-color: theme('colors.primary.500');
    }

    &:focus {
        border-color: theme('colors.transparent');
    }

    .btn-inner {
        @apply transition;
        @apply duration-300;
        display: block;
        background: theme('colors.primary.900');
        margin: 4px;
        padding: 12px 24px;

        &:hover,
        &:active {
            background: theme('colors.primary.500');
        }

        @media (min-width: theme('screens.sm')){
            
        }
    }

    
}

.btn-group {
    margin: theme('spacing.12') 0;

    .btn {
        margin-right: theme('spacing.8');
        &:last-child {
            margin-right: theme('spacing.0');
        }
    }
}

/* Hanna: Putting my classes here */ 

/* Button */
.btn {
  @apply border-4;           /* border-width: 4px; */
  @apply transition-all;     /* transition-property: all; */
  @apply duration-500;       /* transition-duration: 500ms; */
  &:hover { 
    @apply bg-primary-500;   /* background-color: theme('colors.primary.500'); */
    @apply text-white;       /* color: white; */
    outline: 1px solid theme('colors.primary.500');
  }
  &:focus, &:active { 
    @apply bg-primary-500;   /* background-color: theme('colors.primary.500'); */
    @apply text-white;       /* color: white; */
    outline: 1px dashed theme('colors.system.focus');
  }
}
/* Button: elements */
.btn span {
  @apply inline-block;       /* display: inline-block; */
}
.btn__text {
  @apply text-sm;            /* font-size: theme('fontSize.sm'); */
  @apply font-medium;        /* font-weight: 500; */
  @apply tracking-widest;    /* letter-spacing: 0.10em; */
  @apply uppercase;          /* text-transform: uppercase; */
  @apply px-3;               /* padding-top/bottom: 12px; */
  @apply py-4;               /* padding-left/right: 16px; */
  @screen lg {               /* @media (min-width: theme(screens.lg) */
    @apply px-6;             /* padding-left/right: 24px; */
  }
}
.btn__icon {
  @apply fill-current;       /* fill: currentColor; */
  @apply text-base;          /* font-size: theme('fontSize.base'); */
  width: 1em;                /* set icon size to font size */
  height: 1em;
  @apply p-3;                /* padding: 12px; */
}
/* Button: styles */
.btn--style-dark {
  @apply bg-primary-900;     /* background-color: theme('colors.primary.900'); */
  @apply border-white;       /* border-color: theme('colors.white'); */
  @apply text-white;         /* color: white; */
  outline: 1px solid theme('colors.primary.900');
}
.btn--style-light {
  @apply bg-white;           /* background-color: theme('colors.white'); */
  @apply border-transparent; /* border-color: theme('colors.transparent'); */
  @apply text-primary-900;   /* color: theme('colors.primary.900'); */
  outline: 1px solid theme('colors.white');
}
/* Button: spacing */
p + .btn {
  @apply mt-8;               /* margin-top: 32px; */
  @apply mr-4;               /* margin-right: 16px; */
  @screen lg {               /* @media (min-width: theme(screens.lg) */
    @apply mt-12;            /* margin-top: 48px; */
    @apply mr-8;             /* margin-right: 32px; */
  }
}
.btn + .btn {
  @apply mt-6;               /* margin-top: 24px; */
  @screen lg {               /* @media (min-width: theme(screens.lg) */
    @apply mt-10;            /* margin-top: 40px; */
  }
}