
.btn {
    @apply text-white;
    @apply mb-4;
    @apply font-gotham-medium;
    display: inline-block;
    font-size: theme('fontSize.sm');
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $dark-gray;
    letter-spacing: 0.1em;

    &:link,
    &:visited {
        @apply text-white;
        text-decoration: none;
    }

    &:hover,
    &:active {
        border-color: $medium-gray;
    }

    .btn-inner {
        display: block;
        background: $dark-gray;
        margin: 4px;
        padding: 12px 24px;

        &:hover,
        &:active {
            background: $medium-gray;
        }

        @media (min-width: theme('screens.sm')){
            
        }
    }

    
}

.btn-group {
    margin: theme('spacing.12') 0;
    .btn {
        margin-right: theme('spacing.8');
        &:last-child {
            margin-right: theme('spacing.0');
        }
    }
}