
.btn {
    color: theme('colors.white');
    @apply mb-4;
    display: inline-block;
    font-size: theme('fontSize.sm');
    text-transform: uppercase;
    text-align: center;
    border: 1px solid theme('colors.primary.900');
    letter-spacing: 0.1em;
    font-weight: 500;
    

    &:link,
    &:visited {
        color: theme('colors.white');
        text-decoration: none;
    }

    &:hover,
    &:active {
        border-color: theme('colors.primary.500');
    }

    &:focus {
        border-color: theme('colors.transparent');
    }

    .btn-inner {
        display: block;
        background: theme('colors.primary.900');
        margin: 4px;
        padding: 12px 24px;

        &:hover,
        &:active {
            background: theme('colors.primary.500');
        }

        @media (min-width: theme('screens.sm')){
            
        }
    }

    
}

.btn-group {
    margin: theme('spacing.12') 0;

    &:last-child {
        margin-bottom: 0;
        .btn {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-right: theme('spacing.8');
        &:last-child {
            margin-right: theme('spacing.0');
        }
    }
}