/* Button */
.btn {
  @apply border-4;           /* border-width: 4px; */
  @apply transition-all;     /* transition-property: all; */
  @apply duration-500;       /* transition-duration: 500ms; */
  &:hover { 
    @apply bg-primary-500;   /* background-color: theme('colors.primary.500'); */
    @apply text-white;       /* color: white; */
    outline: 1px solid theme('colors.primary.500');
  }
  &:focus, &:active { 
    @apply bg-primary-500;   /* background-color: theme('colors.primary.500'); */
    @apply text-white;       /* color: white; */
    outline: 1px dashed theme('colors.system.focus');
  }
}
/* Button: elements */
.btn span {
  @apply inline-block;       /* display: inline-block; */
}
.btn__text {
  @apply text-sm;            /* font-size: theme('fontSize.sm'); */
  @apply font-medium;        /* font-weight: 500; */
  @apply tracking-widest;    /* letter-spacing: 0.10em; */
  @apply uppercase;          /* text-transform: uppercase; */
  @apply px-3;               /* padding-top/bottom: 12px; */
  @apply py-4;               /* padding-left/right: 16px; */
  @media (min-width: theme('screens.lg')) {
    & {
      @apply px-6;           /* padding-left/right: 24px; */
    }
  }
}
.btn__icon {
  @apply fill-current;       /* fill: currentColor; */
  @apply text-base;          /* font-size: theme('fontSize.base'); */
  width: 1em;                /* set icon size to font size */
  height: 1em;
  @apply p-3;                /* padding: 12px; */
}
/* Button: styles */
.btn--style-dark {
  @apply bg-primary-900;     /* background-color: theme('colors.primary.900'); */
  @apply border-white;       /* border-color: theme('colors.white'); */
  @apply text-white;         /* color: white; */
  outline: 1px solid theme('colors.primary.900');
}
.btn--style-light {
  @apply bg-white;           /* background-color: theme('colors.white'); */
  @apply border-transparent; /* border-color: theme('colors.transparent'); */
  @apply text-primary-900;   /* color: theme('colors.primary.900'); */
  outline: 1px solid theme('colors.white');
}
/* Button: spacing */
* + .btn-group {
  @apply mt-6;               /* margin-top: 24px; */
  @media (min-width: theme('screens.lg')) {
    & {
      @apply mt-10;          /* margin-top: 40px; */
    }
  }
}
.btn-group {
  @apply inline-flex;        /* display: inline-flex; */
  @apply flex-wrap;	         /* flex-wrap: wrap; */
  @apply gap-4;              /* gap: 16px; */
  @apply place-items-start;	 /* justify-items: start; */
  @media (min-width: theme('screens.lg')) {
    & {
      @apply gap-8;          /* gap: 32px; */
    }
  }
}