/* Button */
.btn {
  @apply border;             /* border-width: 1px; */
  @apply inline-block;       /* display: inline-block; */
  @apply p-1;                /* padding: 4px; */
  @apply transition-all;     /* transition-property: all; */
  @apply duration-500;       /* transition-duration: 500ms; */
  &:active, &:hover, &:focus { 
    span, svg {
      @apply bg-primary-500; /* background-color: theme('colors.primary.500'); */
      @apply text-white;     /* color: white; */
    }
  }
  &:active, &:hover { 
    @apply border-primary-500;  /* border-color: theme('colors.primary.500'); */
  }
}
/* Button: elements */
.btn span {
  @apply block;              /* display: block; */
}
.btn__text {
  @apply text-sm;            /* font-size: theme('fontSize.sm'); */
  @apply font-medium;        /* font-weight: 500; */
  @apply tracking-widest;    /* letter-spacing: 0.10em; */
  @apply uppercase;          /* text-transform: uppercase; */
  @apply px-3;               /* padding-top/bottom: 12px; */
  @apply py-4;               /* padding-left/right: 16px; */
  @media (min-width: theme('screens.lg')) {
    @apply px-6;             /* padding-left/right: 24px; */
  }
}
.btn__icon {
  @apply text-base;          /* font-size: theme('fontSize.base'); */
  @apply p-3;                /* padding: 12px; */
  svg {
    @apply w-4;              /* width: 16px; */
    @apply h-4;              /* height: 16px; */
  }
}
/* Button: styles */
.btn--style-dark {
  @apply border-primary-900;  /* border-color: theme('colors.primary.900'); */
  span, svg {
    @apply bg-primary-900;    /* background-color: theme('colors.primary.900'); */
    @apply text-white;        /* color: white; */
  }
}
.btn--style-light {
  @apply border-white;        /* border-color: theme('colors.white'); */
  span, svg {
    @apply bg-white;          /* background-color: theme('colors.white'); */
    @apply text-primary-900;  /* color: theme('colors.primary.900'); */
  }
}
/* Button: spacing */
* + .btn-group {
  @apply mt-8;               /* margin-top: 32px; */
  @media (min-width: theme('screens.lg')) {
    @apply mt-10;            /* margin-top: 40px; */
  }
}
.btn-group {
  @apply inline-flex;        /* display: inline-flex; */
  @apply flex-wrap;          /* flex-wrap: wrap; */
  @apply gap-4;              /* gap: 16px; */
  @apply place-items-start;  /* justify-items: start; */
  @media (min-width: theme('screens.lg')) {
    @apply gap-8;            /* gap: 32px; */
  }
}