/* Display Card */
.dlp-display-card {
  @apply h-full;             /* height: 100%; */
  @apply flex;               /* display: flex; */
  @apply flex-col;           /* flex-direction: column; */
  margin-bottom: 2px;
  .dlp-display-card-content {
    @apply flex;             /* display: flex; */
    @apply flex-col;         /* flex-direction: column; */
    @apply justify-center;   /* justify-content: center; */
    @apply items-center;     /* align-items: center; */
    width: 496px;
    height: 332px;
    @apply max-w-full;       /* max-width: 100%; */
    @apply border;           /* border-width: 1px; */ 
    @apply border-primary-200;  /* border-color: theme('colors.primary.200'); */
  }
  figcaption {
    @apply text-center;      /* text-align: center; */
  }
}
#marketing-assets, #partners {
  .dlp-display-card-content {
    @apply mb-5;             /* margin-bottom: 20px; */
    @apply py-6;             /* padding-top/bottom: 24px; */
    @apply px-12;            /* padding-left/right: 48px; */
    @media (min-width: theme('screens.lg')) {
      @apply py-8;           /* padding-top/bottom: 32px; */
      @apply px-24;          /* padding-left/right: 96px; */
    }
  }
}