
.dlp-display-card {
    @apply h-full;
    @apply flex;
    @apply flex-col;
    margin-bottom: 2px;
    
    .dlp-display-card-content {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        width: 496px;
        height: 332px;
        max-width: 100%;
        border: 1px solid theme('colors.primary.200');
    
        /* &.ar img {
            @apply p-8;
        }*/
    }

    figcaption {
        @apply text-center;
    }
}

#marketing-assets, #partners {
  .dlp-display-card-content {
    @apply mb-5;
    @apply py-6;
    @apply px-12;
    @media (min-width: theme('screens.lg')) {
      @apply py-8;
      @apply px-24;
    }
  }
}