.sc-slide-in-mask {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .5);
    overflow-x: auto;
    transition: opacity .3s ease;
}

.sc-slide-in {
    @apply h-full;
    @apply absolute;
    @apply right-0;
    @apply pb-8;
    width: 55%;
    padding: 30px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.sc-slide-in-content {
    padding: theme('spacing.16') theme('spacing.16') theme('spacing.16') theme('spacing.12');
    overflow: auto;
    height: 100%;
}