.dlp-slide-in-mask {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .8);
    overflow-x: auto;
    transition: opacity .3s ease;
}

.dlp-slide-in {
    @apply h-full;
    @apply absolute;
    @apply right-0;
    @apply pb-8;
    width: 100%;
    padding: 24px 8px 24px 24px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    @media (min-width: theme('screens.md')) {
        width: 552px;
        padding: 30px 8px;
    }

    @media (min-width: theme('screens.lg')) {
        width: 704px;
        padding: 30px 8px;
    }
}

.dlp-slide-in-content {
    overflow: auto;
    height: 100%;
    padding: 0 32px 0 24px;
    margin-top: 76px;

    @media (min-width: theme('screens.sm')) {
        margin-top: 0;
        padding: 0 77px 0 61px;
    }

    @media (min-width: theme('screens.md')) {
        padding: 0 77px 0 61px;
    }

    @media (min-width: theme('screens.lg')) {
        padding: 0 104px 0 88px;
    }

    /* The emerging W3C standard that is currently Firefox-only */
        scrollbar-width: thin;
        scrollbar-color: theme('colors.secondary.500') theme('colors.primary.200');

    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        width: 4px;
        cursor: grab;
    }
    &::-webkit-scrollbar-track {
        background: theme('colors.primary.200');
    }
    &::-webkit-scrollbar-thumb {
        background-color: theme('colors.secondary.500');
    }
}