.dlp-slide-in-mask {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .5);
    overflow-x: auto;
    transition: opacity .3s ease;
}

.dlp-slide-in {
    @apply h-full;
    @apply absolute;
    @apply right-0;
    @apply pb-8;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    @media (min-width: theme('screens.lg')) {
        width: 55%;
        padding: 30px;
    }
}

.dlp-slide-in-content {
    padding: theme('spacing.20') theme('spacing.24') theme('spacing.16') theme('spacing.0');
    overflow: auto;
    height: 100%;

    @media (min-width: theme('screens.lg')) {
        padding: theme('spacing.20') theme('spacing.16') theme('spacing.16') theme('spacing.12');
    }

    /* The emerging W3C standard that is currently Firefox-only */
        scrollbar-width: thin;
        scrollbar-color: theme('colors.accent') theme('colors.light-gray');

    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: theme('colors.light-gray');
    }
    &::-webkit-scrollbar-thumb {
        background-color: theme('colors.accent');
    }
}