/* Section Intro */
.dlp-title-page {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply p-6;
  @apply pb-0;
  @apply h-screen; //fallback
  height: calc(100vh - 48px);
  @apply bg-fixed;
  @apply bg-cover;
  @apply bg-no-repeat;
  background-color: rgb(0, 0, 0); 
  overflow: hidden; 
  position: relative;
  .dlp-title-page__text {
    @apply text-white;
    @apply text-center;
  }
  .dlp-title-page__image {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply top-0;
    @apply left-0;
    outline: 1px solid theme('colors.primary.500');
    //Build order requires this be hard coded
    outline-offset: -8px;
    @media (min-width: theme('screens.md')) {
      outline-offset: -16px;
    }
    @media (min-width: theme('screens.lg')) {
      outline-offset: -20px;
    }
    //reduced motion short circuit
    &.opactity-set {
      opacity: 0.25;
    }
    img {
      @apply w-full;
      @apply h-full;
      object-fit: cover;
      object-position: center center;
    }
  }
}