@import './bioCard/bioCard.styles.scss';
@import './displayCard/displayCard.styles.scss';
@import './propertyCard/property.styles.scss';
@import './testimonial/testimonial.styles.scss';
@import './videoCard/videoCard.styles.scss';