@import './bioCard/bioCard.styles.scss';
@import './displayCard/displayCard.styles.scss';
@import './salesCard/salesCard.styles.scss';
@import './salesCard/property.styles.scss';
@import './videoCard/videoCard.styles.scss';

@import './propertyCard/property.styles.scss';