/* Social */
.dlp-social {
  margin: -10px;
  @media (min-width: theme('screens.md')) {
    margin: -6px;
  }
  a {
    @apply inline-block;       /* display: inline-block; */
    @apply mr-1;               /* margin-right: 4px; */
    padding: 10px;
    @apply duration-500;       /* transition-duration: 500ms; */
    @media (min-width: theme('screens.md')) {
      @apply mr-5;             /* margin-right: 20px; */
      padding: 6px;
    }
  }
  a:last-child {
    @apply mr-0;               /* margin-right: 0; */
  }
  svg {
    @apply text-primary-900;   /* color: theme('colors.primary.900'); */
    @apply w-6;                /* width: 24px; */
    @apply h-6;                /* height: 24px; */
    @media (min-width: theme('screens.md')) {
      @apply w-8;              /* width: 32px; */
      @apply h-8;              /* height: 32px; */
    }
  }
}
* + .dlp-social {
  @apply pt-8;                 /* padding-top: 32px; */
}
.icon-facebook {
  &:hover, &:focus, &:active {
    color: #1877F2;
  }
}
.icon-instagram {
  &:hover, &:focus, &:active {
    color: #E4405F;
  }
}
.icon-twitter {
  &:hover, &:focus, &:active {
    color: #1DA1F2;
  }
}
.icon-linkedin {
  &:hover, &:focus, &:active {
    color: #0077B5;
  }
}
.icon-youtube {
  &:hover, &:focus, &:active {
    color: #FF0000;
  }
}
.icon-earth {
  &:hover, &:focus, &:active {
    color: #025A9A;
  }
}