.dlp-social {
    a {
        @apply inline-block;
        @apply mr-8;
    }
    svg {
        @apply w-10;
        @apply h-10;
        fill: theme('colors.primary.900');
    }
}

* + .dlp-social {
    @apply mt-8;
}

.icon-facebook {
    &:hover, &:focus, &:active {
        fill: #1877F2;
    }
}

.icon-instagram {
    &:hover, &:focus, &:active {
        fill: #E4405F;
    }
}

.icon-twitter {
    &:hover, &:focus, &:active {
        fill: #1DA1F2;
    }
}

.icon-youtube {
    &:hover, &:focus, &:active {
        fill: #FF0000;
    }
}

.icon-linkedin {
    &:hover, &:focus, &:active {
        fill: #0077B5;
    }
}