.sc-social {
    a {
        @apply inline-block mr-6 text-dark-gray;
    }
    svg {
        @apply w-10 h-10;
    }
}

.icon {
    display: inline-block;
    // width: 1em;
    // height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}