.dlp-social {
  a {
    @apply inline-block;       /* display: inline-block; */
    @apply mr-6;               /* margin-right: 24px; */
    padding: 4px;
    @apply duration-500;       /* transition-duration: 500ms; */
    @media (min-width: theme('screens.md')) {
      @apply mr-8;             /* margin-right: 32px; */
    }
  }
  svg {
    @apply text-primary-900;   /* color: theme('colors.primary.900'); */
    @apply w-6;                /* width: 24px; */
    @apply h-6;                /* height: 24px; */
    @media (min-width: theme('screens.md')) {
      @apply w-8;              /* width: 32px; */
      @apply h-8;              /* height: 32px; */
    }
  }
}

* + .dlp-social {
    @apply mt-8;
}

.icon-facebook {
  &:hover, &:focus, &:active {
    color: #1877F2;
  }
}
.icon-instagram {
  &:hover, &:focus, &:active {
    color: #E4405F;
  }
}
.icon-twitter {
  &:hover, &:focus, &:active {
    color: #1DA1F2;
  }
}
.icon-linkedin {
  &:hover, &:focus, &:active {
    color: #0077B5;
  }
}
.icon-youtube {
  &:hover, &:focus, &:active {
    color: #FF0000;
  }
}
.icon-earth {
  &:hover, &:focus, &:active {
    color: #025A9A;
  }
}