
.dlp-sales-card {
    @apply pt-6;
    @apply pb-6;
    border-top: 1px solid theme('colors.light-gray');
    
    &:first-child,
    &:first-of-type {
        @apply pt-0;
        border: none;
    }
}