
.dlp-bio-card {
    @apply flex;
    @apply flex-col;
    @apply text-center;

    figcaption {
        @apply pt-6;
    }

    .dpl-bio-card--image {
        width: 160px;
        
        @media (min-width: theme('screens.lg')) {
            width: 240px;
        }
    }
    
}