
.dlp-close-btn {
    @apply block;
    border: 1px solid theme('colors.primary.900');

    svg .shape {
        fill: theme('colors.white');
    }

    &:hover,
    &:active,
    &.light-theme:hover,
    &.light-theme:active {
        border: 1px solid theme('colors.primary.500');
        svg .shape {
            fill: theme('colors.white');
        }

        .dlp-close-btn-inner {
            background: theme('colors.primary.500');
        }
    }

    &:focus {
        border-color: theme('colors.transparent');
    }

    .dlp-close-btn-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background: theme('colors.primary.900');
        margin: 4px;
        width: 40px;
        height: 40px;
    }

    &.light-theme {
        border-color: theme('colors.white');
        svg .shape {
            fill: theme('colors.primary.900');
        }

        .dlp-close-btn-inner {
            background: theme('colors.white');
        }
    }
}