// Component Library Index. 
// @import from here
@import './button/button.styles.scss';
@import './nav/nav.styles';
@import './figure/figure.styles';
@import './rating/rating.styles';

@import './title/title.styles.scss';

@import './social/social.styles.scss';

@import './carousel/carousel.styles.scss';
// @import './flatScroll/flatScroll.styles.scss';
@import './timeline/timeline.styles.scss';

//cards
@import './cards/index';

//modals
@import './modals/index';