// Component Library Index. 
// @import from here
@import './scrollNotify/scrollNotify.style.scss';
@import './button/button.styles.scss';
@import './nav/nav.styles';
@import './figure/figure.styles';
@import './rating/rating.styles';
@import './testimonial/testimonial.styles';
@import './salesCard/salesCard.styles';
@import './salesCard/property.styles';
@import './close/close.styles.scss';
@import './title/title.styles.scss';
@import './displayCard/displayCard.styles.scss';
@import './social/social.styles.scss';
@import './bioCard/bioCard.styles.scss';
@import './carousel/carousel.styles.scss';

//modals
@import './modals/slideIn/slideIn.styles.scss';
@import './modals/videoModal/videoModal.styles.scss';