
.dlp-carousel {
    .swiper-slide {
        width: auto;
        max-width: 100%;
    }

    .dlp-carousel-nav {
        @apply my-12;
        @apply mx-auto;
        width: 496px;
        max-width: 80%;
        height: 5px;
    }

    .swiper-scrollbar {
        border-radius: 0;
        background: 0;
        &:after {
            content:"";
            position: absolute;
            width: 100%;
            top: 2px;
            left: 0px;;
            border-top: 1px solid theme('colors.primary.200');
        }
    }

    .swiper-scrollbar-drag {
        background-color: theme('colors.secondary.500');
        border-radius: 0;
        z-index: 10;
    }
}