
.sc-btn {
    @apply text-white mb-4 border-dark-gray;
    display: inline-block;
    font-size: theme('fontSize.sm');
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    &:hover,
    &:active {
        @apply border-medium-gray;
    }

    .sc-btn-inner {
        display: block;
        background: theme('colors.dark-gray');
        margin: 4px;
        padding: 12px 24px;

        &:hover,
        &:active {
            background: theme('colors.dark-gray');
        }

        @media (min-width: theme('screens.sm')){
            
        }
    }

    
}

.sc-btn-group {
    margin: theme('spacing.12') 0;
    .sc-btn {
        margin-right: theme('spacing.8');
        &:last-child {
            margin-right: theme('spacing.0');
        }
    }
}