

.scroll-notify {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    justify-self: flex-end;
    padding: 40px;
    span {
        @apply text-center;
        @apply uppercase;
        @apply block;
        @apply mb-4;
        font-weight: 500;
        font-size: 10px;
    }
}