

.scroll-notify {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    justify-self: flex-end;
    padding: 40px;
    span {
        @apply text-center;
        @apply text-xs;
        @apply uppercase;
        @apply block;
        @apply mb-4;
        @apply text-xs;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1px;

        @media (min-width: theme('screens.lg')) {
            & {
                @apply text-sm;
                line-height: 20px;
                letter-spacing: 1.5px;
            }
        }
    }
}