
.sc-testimonial {
    @apply pt-6;
    @apply pb-6;
    border-top: 1px solid $light-gray;
    
    &:first-child,
    &:first-of-type {
        border: none;
    }

    p,
    .sc-testimonial-content {
        @apply mb-4;
    }
}