
.dlp-testimonial {
    @apply pt-6;
    @apply pb-6;
    border-top: 1px solid theme('colors.primary.200');
    
    &:first-child,
    &:first-of-type {
        @apply pt-0;
        border: none;
    }

    p,
    .dlp-testimonial-content {
        @apply mb-4;
    }
}