/* Figure, Figcaption */

figure {
    picture {
        @apply absolute top-0 left-0 w-full h-full;
        object-position: 50% 0;
    }

    .photo-border {
        @apply absolute top-0 left-0 border border-white bg-transparent m-3;
        width: calc(100% - 26px);
        height: calc(100% - 26px);
    }

    figcaption {
        @apply absolute bottom-0 block pb-10 text-center text-white font-gotham-medium uppercase w-full;
        @extend .accent-below-center;
    }
}