/* Aspect Ratio */ 

.ar {
    @apply h-0 overflow-hidden relative;
}
.ar-2-3 {
    padding-top: min(80vh, calc(3/2 * 100%));
}
.ar-3-2 {
    padding-top: min(80vh, calc(2/3 * 100%));
}
.ar-4-3 {
    padding-top: min(80vh, calc(3/4 * 100%));
}
.ar-4-5 {
    padding-top: min(80vh, calc(5/4 * 100%));
}
.ar img {
    @apply w-full h-full object-cover;
}

/* Figure, Figcaption */

figure {
    picture {
        @apply absolute top-0 left-0 w-full h-full;
        object-position: 50% 0;
    }

    .photo-border {
        @apply absolute top-0 left-0 border border-white bg-transparent m-3;
        width: calc(100% - 26px);
        height: calc(100% - 26px);
    }

    figcaption {
        @apply absolute bottom-0 block pb-10 text-center text-white font-gotham-medium uppercase w-full;
        @extend .accent-below-center;
    }
}