@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

//load color Aliases
@import './util.styles';

//load Showcase Common classes
@import './page.styles';

//load all components
@import '../components/index';

html,
body {
    height: 100%;
    font-size: theme('fontSize.base');
}

p {
    font-size: theme('fontSize.copy');
}


@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}