@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './util.styles';
@import './type.styles';
@import './page.styles';
@import '../components/index';