@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


//load color Aliases
@import './util.styles';

//load headings
@import './type.styles';

//load Showcase Common classes
@import './page.styles';

//load transition types
@import './transitions.styles.scss';

//load all components
@import '../components/index';

@import './dev.styles.scss';