@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

//load color Aliases
@import './util.styles';

//load Showcase Common classes
@import './page.styles';

//load all components
@import '../components/index';

html,
body {
    height: 100%;
    font-size: 16px;
}

p {
    font-size: theme('fontSize.p');
}
