
.dlp-main {
    //bottom nav height plus a bit
    padding-bottom: 50px;
}

.dlp-page {
    @apply flex;
    @apply flex-col;
    
    padding: theme('spacing.4');

    &.dlp-hero {
        @apply items-center;
        @apply p-6;
        @apply pb-0;
        @apply h-screen; //fallback
        height: calc(100vh - 48px);
        @apply bg-fixed;
        @apply bg-cover;
        @apply bg-no-repeat;
        outline: 1px solid theme('colors.primary.500');
        //Build order requires this be hard coded
        outline-offset: -10px;
    }

    &.dlp-content {
        margin: 0 theme('spacing.4') theme('spacing.24');
        padding: 0 theme('spacing.1');
        border: 3px double theme('colors.primary.100');
        border-top: none;
        border-bottom: none;
        @media (min-width: theme('screens.sm')) {
            padding: 0 theme('spacing.4');
            margin: 0 theme('spacing.4') theme('spacing.56');
        }
    }

}

