
.dlp-page {
    @apply flex;
    @apply flex-col;

    &.dlp-hero {
        @apply items-center;
        @apply p-6;
        @apply pb-0;
        @apply h-screen; //fallback
        height: calc(100vh - 48px);
        @apply bg-fixed;
        @apply bg-cover;
        @apply bg-no-repeat;
        outline: 1px solid theme('colors.primary.500');
        //Build order requires this be hard coded
        outline-offset: -16px;
    }

    &.dlp-content {
        margin: 0 theme('spacing.4');
        border: 4px double theme('colors.primary.100');
        border-top: none;
        border-bottom: none;
        @apply py-16;
        @media (min-width: theme('screens.sm')) {
            & {
                @apply px-4;
                @apply pb-24;
            }
        }
        @media (min-width: theme('screens.sm')) {
            & {
                @apply py-20
            }
        }

        @media (min-width: theme('screens.sm')) {
            & {
                @apply py-10
            }
        }
    }
}

.section-content {
    margin: 0 8px;
    border-left: 4px double theme('colors.primary.200');
    padding: 80px 12px;
    border-right: 4px double theme('colors.primary.200');
    
    @media (min-width: theme('screens.md')) {
      margin: 0 16px;
    }
    
    @media (min-width: theme('screens.lg')) {
      margin: 0 20px;
      padding: 96px 8px;
    }
}

.content-grid {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    
    @media (min-width: theme('screens.md')) {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 32px;
    }
    
    @media (min-width: theme('screens.lg')) {
        grid-template-columns: repeat(16, minmax(0, 1fr));
    }
    
    @media (min-width: 1441px) {
        max-width: 1440px;
    }
}