

/* .sc-page {
    @apply flex;
    @apply flex-col;
    
    padding: theme('spacing.4');

    &.sc-hero {
        @apply items-center;
        @apply p-6;
        @apply pb-0;
        @apply h-screen;
        @apply bg-fixed;
        @apply bg-cover;
        @apply bg-no-repeat;
        outline: 1px solid theme('colors.red');
        //Build order requires this be hard coded
        outline-offset: -10px;
    }

    &.sc-content {
        margin: 0 theme('spacing.4');
        padding: 0 theme('spacing.1');
        border: 3px double theme('colors.red');
        border-top: none;
        border-bottom: none;
        @media (min-width: 640px) {
            padding: 0 theme('spacing.4');   
        }
    }

} */

article + article {
    @apply mt-24;
}

section + section {
    @apply mt-16;
}

.section-title {
    @apply w-screen h-screen p-5 bg-light-gray bg-cover bg-no-repeat;

    .border-inset {
        @apply w-full h-full border border-dark-gray;
    }
}

.section-content {
    @apply py-16 px-6;

    @screen md {
        @apply py-20 px-8;
    }

    @screen lg {
        @apply py-24 px-10;
    }

    div {
        @apply bg-white;
    }
}

/* Alignment */

.centered-middle {
    @apply grid grid-cols-1 gap-0 text-center content-center;
}

.text-center {
    img {
        @apply mx-auto;
    }
}