

.sc-page {
    @apply flex;
    @apply flex-col;
    
    &.sc-hero {
        @apply justify-center;
        @apply items-center;
        @apply p-6;
        @apply h-screen;
        outline: 1px solid #888F9C;
        outline-offset: -10px;
    }

}

