/* Nav bar - stuck to the bottom of the page */

.page-nav {
    @apply z-50 fixed bottom-0 left-0 w-full bg-white border-t-4 border-double border-light-gray flex justify-between;

    div {
        @apply px-5 py-2;
    }
}

/* Spacing between sections */

article + article {
    @apply mt-24;
}

section + section {
    @apply mt-16;
}

/* Sections */

.section-title {
    @apply w-screen p-5 bg-light-gray bg-cover bg-no-repeat;
    height: calc(100vh - 48px);

    .section-border {
        @apply w-full h-full border border-dark-gray;
    }
}

.section-content {
    @apply py-16 px-6;

    @screen md {
        @apply py-20 px-8;
    }

    @screen lg {
        @apply py-24 px-10;
    }

    div {
        @apply bg-white;
    }
}

/* Alignment */

.centered-middle {
    @apply grid grid-cols-1 gap-0 text-center content-center;
}

.text-center {
    img {
        @apply mx-auto;
    }
}

/* Intro Slide */ 

.scroll {
    @apply font-gotham-medium text-tiny uppercase block mb-4;
}

/* Recent Sales */ 

.property { 
    @apply grid grid-cols-2 gap-4 pt-4; 
    
    @screen lg {
        @apply grid-cols-3;

        div:nth-child(2) {
            @apply col-span-2;
        }
    }

    p + p {
        @apply mt-3;
    }
}