

.dlp-page {
    @apply flex;
    @apply flex-col;

    &.dlp-hero {
        @apply items-center;
        @apply p-6;
        @apply pb-0;
        @apply h-screen; //fallback
        height: calc(100vh - 48px);
        @apply bg-fixed;
        @apply bg-cover;
        @apply bg-no-repeat;
        outline: 1px solid theme('colors.primary.500');
        //Build order requires this be hard coded
        outline-offset: -14px;
    }

    &.dlp-content {
        margin: 0 theme('spacing.3');
        border: 3px double theme('colors.primary.100');
        border-top: none;
        border-bottom: none;
        @apply py-16;
        @media (min-width: theme('screens.sm')) {
            & {
                @apply px-4;
                @apply pb-24;
            }
        }
        @media (min-width: theme('screens.sm')) {
            & {
                @apply py-20
            }
        }

        @media (min-width: theme('screens.sm')) {
            & {
                @apply py-10
            }
        }
    }

}

