
html,
body {
  @apply h-full;	           /* height: 100%; */
  scroll-behavior: smooth;
}

/* Custom scroll bar */
/* Works for Firefox, but not in MacOS */
:root {
  scrollbar-color: theme('colors.secondary.900') theme('colors.primary.100') !important;
  scrollbar-width: thin !important;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  @apply bg-primary-100;     /* background-color: theme('colors.primary.100'); */
}
*::-webkit-scrollbar-thumb {
  @apply bg-secondary-900;   /* background-color: theme('colors.secondary.900'); */
}

#app {
  @apply min-h-full;         /* min-height: 100%; */
  //@apply overflow-x-hidden;  /* overflow-x: hidden; */
}

/* Skip link */
.skip-link {
  @apply sr-only;              /* hide the element */
  @apply bg-white;             /* background-color: theme('colors.white'); */
  @apply border-system-focus;  /* border: 1px solid theme('colors.system.focus'); */
  @apply text-xl;              /* font-size: 24px; */
  @apply p-5;                  /* padding: 20px; */
  &:focus {
    @apply not-sr-only;        /* show the element */
    @apply bg-white;           /* background-color: theme('colors.white'); */
    @apply border-system-focus;  /* border: 1px solid theme('colors.system.focus'); */
    @apply block;              /* display: block; */
    @apply text-lg;            /* font-size: 20px; */
    @apply py-3;               /* padding-top/bottom: 12px; */
    @apply px-5;               /* padding-left/right: 20px; */
    @apply absolute;           /* position: absolute; */
    top: 8px;
    left: 8px;
  }
}

/* Section divider: attach to article */
.section-divider {
  @apply border-b;           /* border-bottom-width: 1px; */
  @apply border-primary-200; /* border-color: theme('colors.primary.200'); */
}
/* Section content */
.section-content {
  @apply border-double;	     /* border-style: double; */
  @apply border-primary-200; /* border-color: theme('colors.primary.200'); */
  @apply border-l-4;         /* border-left-width: 4px; */
  @apply border-r-4;         /* border-right-width: 4px; */
  @apply mx-2;               /* margin-left/right: 8px; */
  @apply py-20;              /* padding-top/bottom: 80px; */
  @apply px-3;               /* padding-left/right: 12px; */
  @media (min-width: theme('screens.md')) {
    @apply mx-4;             /* margin-left/right: 16px; */
  }
  @media (min-width: theme('screens.lg')) {
    @apply mx-5;             /* margin-left/right: 20px; */
    @apply py-24;            /* padding-top/bottom: 96px; */
    @apply px-2;             /* padding-left/right: 8px; */
  }
}
/* Content grid */
.content-grid {
  @apply grid;               /* display: grid; */
  @apply grid-cols-4;        /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  @apply gap-x-6;            /* column-gap: 24px; */
  @apply gap-y-8;            /* row-gap: 32px; */
  @media (min-width: theme('screens.md')) {
    @apply grid-cols-12;     /* grid-template-columns: repeat(12, minmax(0, 1fr)); */
    @apply gap-x-8;          /* column-gap: 32px; */
  }
  @media (min-width: theme('screens.lg')) {
    @apply grid-cols-16;     /* grid-template-columns: repeat(16, minmax(0, 1fr)); */
    @apply gap-y-12;         /* row-gap: 48px; */
  }
  @media (min-width: 1441px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
/* Sub-section: spacing */
section + section {
  @apply pt-16;              /* padding-top: 64px; */
  @media (min-width: theme('screens.lg')) {
    @apply pt-20;            /* padding-top: 80px; */
  }
}