//https://v3.vuejs.org/guide/transitions-enterleave.html#transition-classes


// transition name="fade"
// Fades entire frame in
//Usage: Video Modal

.fade-enter-active,
.fade-leave-active {
    opacity: 0;
}


// transition name="fade-slide"
//Slides in from the right
//Usage: Agent Full Bio

.fade-slide-enter-active,
.fade-slide-leave-active {
    opacity: 0;
}

.fade-slide-enter-active, 
.fade-slide-leave-active {
    .fade-slide-content{
        right: -100%;
    }
}