a {
    @apply font-primary;
    font-size: theme('fontSize.base');
    &:link,
    &:visited {
        text-decoration: underline;
        color: theme('colors.primary.900');
    }

    &:hover,
    &:active {
        color: theme('colors.primary.500');
    }

    @media (min-width: theme('screens.md')) {  /* Tablet, desktop */
        font-size: theme('fontSize.lg');
    }
}

a:focus,
button:focus {
    outline-color: theme('colors.secondary.500');
}

address {
    font-style: normal;
}

/* Headings */
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6 {
    @apply uppercase;
    color: theme('colors.primary.900');
    line-height: 1.5em;
}
.head-1, .head-2, .head-3, .head-4 {
    @apply font-primary;
    @apply tracking-wider; /* letter-spacing: 0.05em */
}
.head-5, .head-6 {
    @apply font-secondary;
    @apply tracking-widest; /* letter-spacing: 0.10em */
}
.head-1 { @apply text-5xl; /* 42px */ }
.head-2 { @apply text-4xl; /* 39px */ }
.head-3 { @apply text-3xl; /* 34px */ }
.head-4 { @apply text-2xl; /* 28px */ }
.head-5 { @apply text-xl;  /* 24px */ }
.head-6 { @apply text-5xl; /* 20px */ }
@media (min-width: theme('screens.lg')) {
    .head-1 { @apply text-6xl;  /* 60px */ }
    .head-2 { @apply text-5xl;  /* 42px */ }
    .head-3 { @apply text-4xl;  /* 39px */ }
    .head-4 { @apply text-3xl;  /* 34px */ }
    .head-5 { @apply text-2xl;  /* 28px */ }
    .head-6 { @apply text-xl;   /* 24px */ }
}

/* Paragraph */
p { 
    @apply font-primary;
    @apply text-base; /* 16px */ 
    color: theme('colors.primary.900');
    @media (min-width: theme('screens.md')) {  /* Tablet, desktop */
        font-size: theme('fontSize.lg');
    }
}
* + p {
    @apply mt-4; /* 16px above a paragraph */
}

.callout-text {
    color: theme('colors.secondary.500');
}

hr {
    @apply mt-32;
    border-color: theme('colors.primary.100');
}

strong {
    @apply font-secondary;
}


@mixin accent-psudo($width) {
    height: 2px;
    display: block;
    width: theme('spacing.#{$width}');
    background: theme('colors.secondary.500');
    content: '';
}

.accent {
    &:before {
        @include accent-psudo('8');
        margin: theme('spacing.4') 0 theme('spacing.4');
    }

    &.accent-centered {
        &:before, 
        &:after {
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-below {
        &:before {
            display: none;
        }

        &:after {
            @include accent-psudo('8');
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-wide {
        &:before, 
        &:after {
            width: theme('spacing.16');
        }
    }
}