/* Fonts */
.font-primary {
  @apply font-light;   /* 300 */
}
.font-secondary {
  @apply font-medium;  /* 500 */
}

/* Defaults */
#app,
#docs-root {
  @apply text-primary-900;   /* color: theme('colors.primary.900'); */
  @apply font-default;       /* font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif; */
  @apply text-base;          /* font-size: 16px; */
  @apply not-italic;         /* font-style: normal; */
  @apply font-light;         /* font-weight: 300; */
}

/* Heading */
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6 {
  @apply leading-normal;     /* line-height: 1.5em; */
  @apply uppercase;          /* text-transform: uppercase; */
}
.head-1, .head-2, .head-3, .head-4 {
  @apply tracking-wider;     /* letter-spacing: 0.05em; */
}
.head-5, .head-6 {
  @apply font-medium;        /* font-weight: 500; */
  @apply tracking-widest;    /* letter-spacing: 0.10em; */
}
.head-1 { font-size: 5vh;} /* font-size: 42px */
.head-2 { @apply text-3xl; } /* font-size: 34px */
.head-3 { @apply text-2xl; } /* font-size: 28px */
.head-4 { @apply text-xl; }  /* font-size: 24px */
.head-5 { @apply text-lg; }  /* font-size: 20px */
.head-6 { @apply text-sm; }  /* font-size: 14px */
@media (min-width: theme('screens.lg')) {
  .head-1 { @apply text-6xl; }  /* font-size: 60px */
  .head-2 { @apply text-5xl; }  /* font-size: 42px */
  .head-3 { @apply text-4xl; }  /* font-size: 39px */
  .head-4 { @apply text-3xl; }  /* font-size: 34px */
  .head-5 { @apply text-xl; }   /* font-size: 24px */
  .head-6 { @apply text-base; } /* font-size: 16px */
}
/* Heading: spacing */
.head-1 + .head-5 {
  @apply mt-6;               /* margin-top: 24px; */
  @media (min-width: theme('screens.lg')) {
    & { 
      @apply mt-8;           /* margin-top: 32px; */
    }
  }
}

/* Paragraph */
p, address, li { 
  @apply not-italic;         /* font-style: normal; */
  @apply leading-normal;     /* line-height: 1.5em; */
  @media (min-width: theme('screens.lg')) {
    & {
      @apply text-lg;          /* font-size: 20px */
      line-height: 1.6;        /* line-height: 32px; */
    }
  }
}
/* List */ 
ol, ul {
  @apply list-inside;        /* list-style-position: inside; */
}
ol {
  @apply list-decimal;       /* list-style-type: decimal; */
}
ul {
  @apply list-disc;          /* list-style-type: disc; */
}
/* Paragraph: spacing */
* + p, * + address, * + ol, * + ul, 
p + *, address + *, ol + *, ul + * {
  @apply mt-3;               /* margin-top: 12px; */
}
/* Links */
a, a:visited {
  @apply text-primary-900;   /* color: theme('colors.primary.900'); */
  @apply underline;          /* text-decoration: underline; */
}
a:focus, a:hover, a:active {
  @apply text-system-focus;  /* color: theme('colors.primary.900'); */
  @apply no-underline;       /* text-decoration: none; */
}
/* Contact info */
.contact-info {
  @apply mt-5;               /* margin-top: 20px; */
  a {
    @apply block;            /* display: block; */
    @apply mt-4;             /* margin-top: 16px; */
  }
}

/* Links */
a {
  font-size: theme('fontSize.base');
  &:link,
  &:visited {
      text-decoration: underline;
      color: theme('colors.primary.900');
  }

  &:hover,
  &:active {
      color: theme('colors.primary.500');
      text-decoration: none;
  }

  @media (min-width: theme('screens.md')) {  
      font-size: theme('fontSize.lg');
  }
}
a:focus,
button:focus {
  // outline-color: theme('colors.secondary.500');
  outline-style: dashed;
  outline-width: thin;
} 

hr {
  border-color: theme('colors.primary.100');
}
strong {
  font-weight: 500;
} 