a {
    &:link,
    &:visited {
        text-decoration: underline;
        color: $dark-gray;
    }

    &:hover,
    &:active {
        color: $medium-gray;
    }
}

address {
    font-style: normal;
}

p {
    margin-bottom: theme('spacing.4');
    font-size: theme('fontSize.mobile');
    @media (min-width: theme('screens.lg')) {
        font-size: theme('fontSize.copy');
    }
}


/**
    Headings
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
figcaption {
    text-transform: uppercase;
    font-weight: 300;
}

.title-heading {
    font-size: 10vw;
    @media (min-width: theme('screens.sm')) {
        font-size: theme('fontSize.2xl');
        margin-bottom: theme('spacing.8');
    }
    @media (min-width: theme('screens.lg')) {
        font-size: theme('fontSize.4xl');
    }
}

.callout-heading {
    font-size: theme('fontSize.2xl');
    color: $red;
    text-transform: uppercase;
    display: block;
}

.bold-heading {
    font-size: theme('fontSize.copy');
    font-weight: 600;
}

.presentation-heading {
    font-size: theme('fontSize.sm');
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    @media (min-width: theme('screens.sm')) {
        font-size: theme('fontSize.mobile');
    }
}

.section-heading {
    @apply mb-6;
    font-size: theme('fontSize.lg');
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

.detail-heading {
    font-size: theme('fontSize.detail');
    font-weight: 300;
    letter-spacing: 0.1em;
}

.label-heading {
    font-size: theme('fontSize.xs');
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@mixin accent-psudo($width) {
    height: 2px;
    display: block;
    width: theme('spacing.#{$width}');
    background: $red;
    content: '';
}

.accent {
    &:before {
        @include accent-psudo('8');
        margin: theme('spacing.4') 0 theme('spacing.4');
    }

    &.accent-centered {
        &:before, 
        &:after {
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-below {
        &:before {
            display: none;
        }

        &:after {
            @include accent-psudo('8');
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-wide {
        &:before, 
        &:after {
            width: theme('spacing.16');
        }
    }
}