a {
    @apply font-gotham-light;
    font-size: theme('fontSize.base');
    &:link,
    &:visited {
        text-decoration: underline;
        color: theme('colors.dark-gray');
    }

    &:hover,
    &:active {
        color: theme('colors.medium-gray');
    }

    @media (min-width: theme('screens.md')) {  /* Tablet, desktop */
        font-size: theme('fontSize.lg');
    }
}

a:focus,
button:focus {
    outline-color: theme('colors.secondary.500');
}

address {
    font-style: normal;
}

/**
    Headings
*/

.head-1 {
    @apply font-gotham-light;
    @apply text-4xl; /* 48px */
    @apply text-dark-gray;
    @apply uppercase; 
}

.head-2 {
    @apply font-gotham-light;
    @apply text-3xl; /* 39px */ 
    @apply text-dark-gray;
    @apply uppercase; 
}

.head-3 {
    @apply font-gotham-light;
    @apply text-2xl;
    @apply text-dark-gray;
    @apply uppercase; /* 31px */ 
}

.head-4 {
    @apply font-gotham-light;
    @apply text-xl;
    @apply text-dark-gray;
    @apply uppercase;  /* 25px */ 
}

.head-5 {
    @apply font-gotham-medium;
    @apply text-lg;
    @apply text-dark-gray;
    @apply uppercase;  /* 20px */ 
}

.head-6 {
    @apply font-gotham-medium;
    @apply text-sm;
    @apply text-dark-gray;
    @apply uppercase;  /* 14px */ 
}


@media (min-width: theme('screens.md')) { /* Tablet, desktop */
	.head-1 { @apply text-5xl;  /* 61px */ }
	.head-2 { @apply text-4xl;  /* 48px */ }
	.head-3 { @apply text-3xl;  /* 39px */ }
	.head-4 { @apply text-2xl;  /* 31px */ }
	.head-5 { @apply text-xl;   /* 25px */ }
	.head-6 { @apply text-base; /* 16px */ }
}

* + .head-2 {
    @apply mt-8;
}

.head-2 + .head-5 {
    @apply mt-8;
}

/* Paragraph */

p { 
    @apply font-gotham-light;
    @apply text-base;/* 16px */ 
    @apply text-dark-gray;  

    @media (min-width: theme('screens.md')) {  /* Tablet, desktop */
        font-size: theme('fontSize.lg');
    }
}

* + p {
    @apply mt-5;
}

.callout-text {
    color: theme('colors.accent');
}

hr {
    @apply mt-32;
    border-color: theme('colors.primary.100');
}

.callout-heading {
    font-size: theme('fontSize.2xl');
    color: theme('colors.accent');
    text-transform: uppercase;
    display: block;
}

.bold-heading {
    font-size: theme('fontSize.copy');
    font-weight: 600;
}

.presentation-heading {
    font-size: theme('fontSize.sm');
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    @media (min-width: theme('screens.sm')) {
        font-size: theme('fontSize.mobile');
    }
}

.section-heading {
    @apply mb-6;
    font-size: theme('fontSize.lg');
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

.detail-heading {
    font-size: theme('fontSize.detail');
    font-weight: 300;
    letter-spacing: 0.1em;
}

.label-heading {
    font-size: theme('fontSize.xs');
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@mixin accent-psudo($width) {
    height: 2px;
    display: block;
    width: theme('spacing.#{$width}');
    background: theme('colors.accent');
    content: '';
}

.accent {
    &:before {
        @include accent-psudo('8');
        margin: theme('spacing.4') 0 theme('spacing.4');
    }

    &.accent-centered {
        &:before, 
        &:after {
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-below {
        &:before {
            display: none;
        }

        &:after {
            @include accent-psudo('8');
            margin: theme('spacing.4') auto;
        }
    }

    &.accent-wide {
        &:before, 
        &:after {
            width: theme('spacing.16');
        }
    }
}