/* https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
   Hide content, but keep it available to screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-shown {
  clip: auto;
  clip-path: initial;
  height: auto;
  overflow: auto;
  position: initial;
  white-space: initial;
  width: auto;
}

/* Modal */
.dlp-modal-open {
  height: 100vh;
  overflow-y: hidden;
}

/* SVG */ 
svg {
  @apply fill-current;	     /* fill: currentColor; */
}

/* Aspect ratio */ 
.ar {
  @apply relative;           /* position: relative; */
  @apply block;              /* display: block; */
  @apply h-0;                /* height: 0px; */
  @apply overflow-hidden;    /* overflow: hidden; */
  img {
    @apply absolute;         /* position: absolute; */
    @apply top-0;            /* top: 0; */
    @apply left-0;           /* left: 0; */
    @apply w-full;           /* width: 100%; */
    @apply h-full;           /* height: 100%; */
    @apply object-cover;     /* object-fit: cover; */
    @apply object-top;       /* object-position: top center; */
  }
}
.ar--2-3 {
  padding-top: min(80vh, calc(3/2 * 100%));
}
.ar--3-2 {
  padding-top: min(80vh, calc(2/3 * 100%));
}
.ar--4-3 {
  padding-top: min(80vh, calc(3/4 * 100%));
}
.ar--3-4 {
  padding-top: min(80vh, calc(4/3 * 100%));
}
.ar--4-5 {
  padding-top: min(80vh, calc(5/4 * 100%));
}
.ar--5-4 {
  padding-top: min(80vh, calc(4/5 * 100%));
}
.ar--16-9 {
  padding-top: min(80vh, calc(9/16 * 100%));
}

/* Positioning Tools */
.top-4 {
  top: theme('spacing.4');
}