/* Fonts */ 

@font-face {
    font-family: 'Gotham Medium';
    src: url('/fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
}

/* Global */ 

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-size: theme('fontSize.base');
    max-width: 100%;
    overflow-x: hidden;
}

#app {
    border-left: 4px double theme('colors.light-gray');
    border-right: 4px double theme('colors.light-gray');
    @apply ml-5 mr-5 min-h-full;   /* ml-5 = margin-left: 20px; */
}

main { 
    @apply -ml-6 -mr-6; /* -ml-6 = margin-left: -24px; */
}

/* Custom Scrollbar */

/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.accent') theme('colors.light-gray');
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 2px; /* No Tailwind equivalent */
}
*::-webkit-scrollbar-track {
    background: theme('colors.light-gray');
}
*::-webkit-scrollbar-thumb {
    background-color: theme('colors.accent');
}

/* Aspect Ratio */ 

.ar {
    @apply h-0 overflow-hidden relative;
}
.ar-2-3 {
    padding-top: min(80vh, calc(3/2 * 100%));
}
.ar-3-2 {
    padding-top: min(80vh, calc(2/3 * 100%));
}
.ar-4-3 {
    padding-top: min(80vh, calc(3/4 * 100%));
}
.ar-4-5 {
    padding-top: min(80vh, calc(5/4 * 100%));
    // padding-top: calc(5/4 * 100%);
}
.ar img {
    @apply w-full h-full object-cover;
}