/* Fonts */ 

@font-face {
    font-family: 'Gotham Medium';
    src: url('/fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
}

/* Global */ 

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-size: theme('fontSize.base');
    max-width: 100%;
    overflow-x: hidden;
}

#app {
    border-left: 4px double theme('colors.light-gray');
    border-right: 4px double theme('colors.light-gray');
    @apply ml-5 mr-5 min-h-full;   /* ml-5 = margin-left: 20px; */
}

main { 
    @apply -ml-6 -mr-6; /* -ml-6 = margin-left: -24px; */
}

/* Custom Scrollbar */

/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.red') theme('colors.light-gray');
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 2px; /* No Tailwind equivalent */
}
*::-webkit-scrollbar-track {
    background: theme('colors.light-gray');
}
*::-webkit-scrollbar-thumb {
    background-color: theme('colors.red');
}

/* Visibility */ 

.show {
    display: block !important;
    visibility: visible !important;
}
.hide {
    display: none !important;
    visibility: hidden !important;
}

.show-sm {
    @extend .hide;

    @screen sm {
        @extend .show;
    }
}
.show-md {
    @extend .hide;

    @screen md {
        @extend .show;
    }
}
.show-lg {
    @extend .hide;

    @screen lg {
        @extend .show;
    }
}
.hide-sm {
    @extend .show;

    @screen sm {
        @extend .hide;
    }
}
.hide-md {
    @extend .show;
    
    @screen md {
        @extend .hide;
    }
}
.hide-lg {
    @extend .show;
    
    @screen lg {
        @extend .hide;
    }
}