

/**
    Color Aliases
*/

$white: theme('colors.white');
$faint-gray: theme('colors.primary.100');
$light-gray: theme('colors.primary.200');
$medium-gray: theme('colors.primary.500');
$dark-gray: theme('colors.primary.900');

$red: theme('colors.secondary.500');

$bg-faint-gray: theme('colors.neutral.050');
$bg-light-gray: theme('colors.neutral.300');


html,
body {
    height: 100%;
    font-size: theme('fontSize.base');
}

@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
//Hide content, but keep it available to screen readers
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-shown {
    clip: auto;
    clip-path: initial;
    height: auto;
    overflow: auto;
    position: initial;
    white-space: initial;
    width: auto;
}

.sc-modal-open {
    height: 100vh;
    overflow-y: hidden;
}