

/**
    Color Aliases
*/

$white: theme('colors.white');
$faint-gray: theme('colors.primary.100');
$light-gray: theme('colors.primary.200');
$medium-gray: theme('colors.primary.500');
$dark-gray: theme('colors.primary.900');

$red: theme('colors.secondary.500');

$bg-faint-gray: theme('colors.neutral.050');
$bg-light-gray: theme('colors.neutral.300');

/**
    Headings
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
figcaption {
    text-transform: uppercase;
    font-weight: 300;
}

.title-heading {
    font-size: theme('fontSize.4xl');
}

.h2 {
    font-size: theme('fontSize.3xl');
}

.h3 {
    font-size: theme('fontSize.2xl');
}

.h4 {
    font-size: theme('fontSize.xl');
}

.section-heading {
    font-size: theme('fontSize.lg');
    font-weight: 500;
    &:before {
        height: 2px;
        display: block;
        width: theme('spacing.8');
        background: $red;
        content: '';
        margin: theme('spacing.20') 0 theme('spacing.4');
    }
}

.detail-heading {
    font-size: theme('fontSize.detail');
    font-weight: 300;
    letter-spacing: 0.1em;
}