

/**
    Color Aliases
*/

$white: theme('colors.white');
$faint-gray: theme('colors.primary.100');
$light-gray: theme('colors.primary.200');
$medium-gray: theme('colors.primary.500');
$dark-gray: theme('colors.primary.900');

$red: theme('colors.secondary.500');

$bg-faint-gray: theme('colors.neutral.050');
$bg-light-gray: theme('colors.neutral.300');


html,
body {
    height: 100%;
    font-size: theme('fontSize.base');
}

@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamHTF';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}