/* Modal Overlay */
.dlp-bg-ripple {
  @apply fixed;              /* position: fixed; */
  @apply top-0;              /* top: 0; */
  @apply left-0;             /* left: 0; */
  pointer-events: none;
}