
.dlp-nav {
    @apply fixed;
    @apply bottom-0;
    @apply w-screen;
    @apply z-30;
    
    background: theme('colors.white');

    ol, ul {
        list-style: none;
        li {
            margin: 0;
        }
    }

    .dlp-nav-m-tile {
        @apply px-4;
        @apply flex-col;
        @apply justify-center;
        text-align: center;
        height: 48px;
        width: 135px;
    }

    .dlp-nav-tray {
        @apply flex;
        @apply flex-row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .dlp-nav-menu {
        @apply visually-hidden;
    }

    .dlp-nav-trigger {
        flex-grow: 1;
        border-left: 1px solid theme('colors.primary.200');
        border-right: 1px solid theme('colors.primary.200');
    }

    .dlp-nav-contact {
        a {
            color: theme('colors.secondary.500');
            font-size: theme('fontSize.sm');
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: theme('screens.lg')){
        &.isOpen {
            @apply h-full;
            .dlp-nav-tray {
                @apply h-full;
            }

            .dlp-nav-menu {
                @apply visually-shown;
                @apply absolute;
                @apply top-0;
                @apply flex;
                @apply flex-col;
                @apply w-full;
                @apply items-center;
                @apply justify-center;
                height: 90%;
                height: calc(100vh - 48px);
                background: theme('colors.white');
                padding: theme('spacing.6') theme('spacing.12') 0;
            }
        }

        .dlp-nav-m-tile {
            border-top: 1px solid theme('colors.primary.200');
        }
    }

    .dlp-nav-ul {
        li {
            @apply text-center;
            // Give the :after psydo space
            // without this, the links move around on hover
            height: 48px;
            padding-top: 3px;
        }
    }

    .dlp-nav-link {
        @apply py-2;
        @apply my-2;
        @apply inline-block;
        color: theme('colors.primary.500');
        font-size: theme('fontSize.lg');
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1em;

        &.is-active,
        &:hover,
        &:active {
            color: theme('colors.primary.900');

            &:after {
                @apply mt-1;
                height: 2px;
                display: block;
                width: 100%;
                background: theme('colors.secondary.500');
                content: '';
            }
        }
    }


    @media (min-width: theme('screens.lg')){
        border-top: 3px double theme('colors.primary.200');

        //menu is open and compressed on desktop
        .dlp-nav-menu {
            @apply visually-shown;
            flex-grow: 2;
            border-left: 1px solid theme('colors.primary.200');
            border-right: 1px solid theme('colors.primary.200');
            .head-1 {
                display: none;
            }

            .dlp-nav-ul {
                @apply flex;
                @apply flex-row;
                justify-content: space-evenly;
                .dlp-nav-link {
                    @apply pt-1;
                    font-size: theme('fontSize.sm');
                }
            }
        }
    }
}

#nav-icon {
    width: 60px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0 3px;
    margin: 0 auto;
    .nav-icon-text {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .nav-icon-wrapper {
        height: 18px;
        width: 18px;
        position: relative;
    }

    .nav-icon-line {
        display: block;
        position: absolute;
        height: 2px;
        width: 18px;
        background: #000;
        opacity: 1;
        left: 0;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    .line-1 {
        top: 0px;
    }
      
    .line-2,
    .line-3 {
        top: 4px;
    }
    
    .line-4 {
        top: 8px;
    }
    
    &.open .line-1 {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    &.open .line-2 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    &.open .line-3 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    &.open .line-1, 
    &.open .line-4 {
        display: none;
    }
}

