
.theme-ansly {
    /* BASE COLORS */
    --color-transparent: transparent;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-system-focus: #0083CC;
    
    --color-primary-100: #E7E9EB;
    --color-primary-200: #DBDDE1;
    --color-primary-500: #888F9C;
    --color-primary-900: #1B1D1F;

    --color-secondary-500: #D22630;

    --color-neutral-300: #B2B2B2;
    --color-neutral-500: #808080;

    /* FONTS */

    --font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;

    --font-size-base: 16px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 28px;
    --font-size-3xl: 34px;
    --font-size-4xl: 39px;
    --font-size-5xl: 42px;
    --font-size-6xl: 60px;

}