.dlp-video-modal-mask {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .8);
    overflow-x: auto;
    transition: opacity .3s ease;
}

.dlp-video-modal {
    @apply h-full;
    @apply w-full;
    @apply absolute;
    padding: 24px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

}

.dlp-video-modal-content {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply h-full;
    @apply p-32;
}

.dlp-video-modal-player {
    @apply p-2;
    @apply w-full;
    @apply h-full;
    border: 1px solid theme('colors.white');
    display: inline-block;

    iframe {
        width: 100%;
        max-height: 100%;
    }
}